* {
  font-family: "Inter", system-ui;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #333333;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.log-in__form {
  width: 470px;
  margin: auto;
  h5 {
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.25rem;
    font-weight: normal;
  }
  .form__field {
    width: 100%;
    margin-bottom: 34px;
    p {
      font-size: 14px;
      margin-bottom: 20px;
      line-height: 21px;
    }
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px;

    button {
      width: 100%;
      padding: 23px;
      line-height: 14px;
      margin-bottom: 36px;
      border-radius: 2px;
      border: 0;
      color: #fff;
      background-color: #1b0d3b;
      border: 1px solid #1b0d3b;
      cursor: pointer;

      &:hover {
        color: #000000;
        background-color: #9567ff;
        border: 1px solid #9567ff;
      }
    }
    input {
      outline: none;
      display: block;
      width: 100%;
      height: 64px;
      border-radius: 4px;
      border: 1px solid #1b0d3b;
      padding: 10px 25px;
      box-sizing: border-box;
    }
  }
}

::-moz-placeholder {
  font-size: 14px;
  color: #c4c4c4;
} /* Firefox 19+ */
:-moz-placeholder {
  font-size: 14px;
  color: #c4c4c4;
} /* Firefox 18- */
:-ms-input-placeholder {
  font-size: 14px;
  color: #c4c4c4;
} /* IE */

.sidebar {
  width: 400px;
  background-color: #214fa4;
  height: 100vh;

  .sidebar__title {
    align-items: center;
    padding: 10px 40px;
    h2 {
      padding: 0 20px;
      color: #fff;
    }
  }
  img {
    width: 30px;
  }
  .block-sidebar__link {
    align-items: center;
    padding: 10px 40px;
    cursor: pointer;

    h4 {
      margin: 0 20px;
      color: #fff;
      border-bottom: 3px solid #214fa4;
      &:hover {
        border-bottom: 3px solid #fff;
      }
    }
  }
}
